etc/
*.nob
*.vim
*.so
*.so*
*.a
*.o
a.out
*.dylib
lava_lamp
metaprogram
.DS_Store
.vscode
*.dSYM
tags
vgcore*
aseprite/atlas.json
*.log
nob
nob.old
lava_lamp.js
lava_lamp.html
lava_lamp.wasm
lava_lamp.data
build/
third_party/raylib/build/
screenshot*.png
sounds/*.mp3
*.webm
